.vs
/Debug
/Release
/x64
/include
/lib
/bin
/misc
/obj
/doc
/build/src
/build/linux/obj
*.v12.suo
*.sdf
*.opensdf
*.pdb
*.vcxproj.user
*.nvuser
*.opendb
*.db
out.txt
OptymalizacjaCuda/Release
OptymalizacjaCuda/Debug
OptymalizacjaCuda/x64
OptymalizacjaCuda/bin